/tmp
/binaries
/coverage*.txt
/api/*.html
/internal/core/VERSION
/internal/servers/hls/hls.min.js
/internal/staticsources/rpicamera/mtxrpicam_*/

.env

/*.exe
/*.dll
/*.so
/*.dylib
/*.a
/*.o

/bin/
/out/
/dist/

/pkg/

*.log

mediamtx.exe
mediamtx.zip
recordings/